/* Banners Page */

.banners-page {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin-left: 289px;
}

.banners-header {
    background-color: #ddd;
    color: #333;
    padding: 20px 40px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.banners-header h1 {
    margin: 0;
    font-size: 22px;
    color: #333;
}

.create-banner-button {
    font-size: 24px;
    background-color: #606260;
    color: white;
    border: none;
    border-radius: 22px;
    width: 36px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-banner-button:hover {
    background-color: #2f322f;
}

.create-banner-button:focus {
    outline: none;
    /* Remove focus outline */
}

.banners-table img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banners-table img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* .create-banner-button:hover {
    background-color: #404953;
    color: rgb(244, 242, 242);
} */

.banners-table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

.banners-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.banners-table th,
.banners-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.banners-table th {
    background-color: #f4f4f4;
    color: #333;
}

.banners-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.edit-button,
.delete-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.edit-button i,
.delete-button i {
    font-size: 18px;
}

.edit-button:hover,
.delete-button:hover {
    color: #0056b3;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

.close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close-modal-button:hover {
    color: #d9534f;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: 600;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.form-actions button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-actions button[type="button"] {
    background-color: #ccc;
}

.form-actions button:hover {
    background-color: #0056b3;
}

.order-select {
    width: 56px;
    font-size: 10px;
    padding: 2px;
    padding-right: 12px;
    text-align: center;
    margin-left: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
}

.close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close-modal-button:hover {
    color: #d9534f;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.form-actions button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-actions button[type="button"] {
    background-color: #ccc;
}

.form-actions button:hover {
    background-color: #0056b3;
}